@import '@arcgis/core/assets/esri/themes/light/main.css';

html,
body,
#viewDiv {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


.container {
  display: none;
  // display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  padding: 10px;
}


calcite-button {
  width: 200px;
  margin: 5px;
}

h3 {
  margin: 5px;
}