@import '@arcgis/core/assets/esri/themes/light/main.css';
html,
body,
#viewDiv {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#selection {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
}


calcite-button {
  width: 200px;
  margin: 5px;
}

